<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <strong>
          <a target="_blank" [href]="item.url" class="title">{{item.title}}</a>
        </strong>
        &nbsp;
        <a
          *ngIf="item.hostname"
          class="hn title"
          target="_blank"
          [href]="'https://news.ycombinator.com/from?site='+item.hostname"
        >
          ({{item.hostname}})
        </a>
      </mat-card-title>
      <mat-card-subtitle class="secondRow">
        <span>by {{item.by}}&nbsp;</span>
        <span>Points: {{item.score}}&nbsp;</span>
        <span>{{foregoneTime(item.time)}} ago&nbsp;</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>U</button>
      <button mat-button>D</button>
      <a target="_blank" [href]="item.url">
        <button mat-button>Visit</button>
      </a>
      <a
        target="_blank"
        [href]="'https://news.ycombinator.com/item?id='+item.id"
      >
        <button mat-button>{{item.descendants}} comments</button>
      </a>
    </mat-card-actions>
  </mat-card>