<div class="itemBox">
    <div>
        <strong>
            <a target="_blank" [href]="item.url">{{item.title}}</a> </strong>&nbsp;
        <a *ngIf="item.hostname" class="hn" target="_blank"
            [href]="'https://news.ycombinator.com/from?site='+item.hostname">
            ({{item.hostname}})
        </a>
    </div>
    <div class="row">
        <span>by {{item.by}}&nbsp;</span>
        <span>Points: {{item.score}}&nbsp;</span>
        <span>{{foregoneTime(item.time)}} ago&nbsp;</span>
    </div>
    <div class="row">
        
      <button disabled mat-flat-button>Hide</button>
      <!-- <a target="_blank" [href]="item.url">
          <button mat-flat-button>Visit</button>
      </a> -->
      <button mat-flat-button (click)="click('visit', item.url)">Visit</button>
      <button mat-flat-button (click)="click('comments', 'https://news.ycombinator.com/item?id='+item.id)">{{item.descendants}} comments</button>
        <!-- <span>Hide</span>
        <a target="_blank" [href]="item.url">Visit</a>
        <a class="hn" target="_blank" [href]="'https://news.ycombinator.com/item?id='+item.id">{{item.descendants}}
            comments</a> -->
    </div>
</div>