<!-- <p style="margin-left:10px;">
  <button mat-raised-button (click)="cardType = cardType === 'simple' ? 'material' : 'simple'">Toggle card type</button>
</p> -->

<div class="itemContainer">
  <h2>New 📰</h2>

  <div class="itemList">
    <div
      cdkDropList
      #newsList="cdkDropList"
      [cdkDropListData]="newItems"
      [cdkDropListConnectedTo]="[topList, newsList, readLaterList, watchList]"
      class=""
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container *ngIf="cardType === 'simple'">
        <app-card-simple *ngFor="let item of newItems" [item]="item" [clickHandler]="onClick" cdkDrag></app-card-simple>
      </ng-container>
      <ng-container *ngIf="cardType === 'material'">
        <app-card-material *ngFor="let item of newItems" [item]="item" [clickHandler]="onClick" cdkDrag></app-card-material>
      </ng-container>
    </div>
  </div>
  <mat-paginator (page)="onPageChange($event.pageIndex, 'new')" [hidePageSize]="true" [pageSize]="30" [length]="150">
  </mat-paginator>
</div>

<div class="itemContainer">
  <h2>Top 🔝</h2>

  <div
    cdkDropList
    #topList="cdkDropList"
    [cdkDropListData]="topItems"
    [cdkDropListConnectedTo]="[topList, newsList, readLaterList, watchList]"
    class="itemList"
    (cdkDropListDropped)="drop($event)"
  >
    <ng-container *ngIf="cardType === 'simple'">
      <app-card-simple *ngFor="let item of topItems" [item]="item" [clickHandler]="onClick" cdkDrag></app-card-simple>
    </ng-container>
    <ng-container *ngIf="cardType === 'material'">
      <app-card-material *ngFor="let item of topItems" [item]="item" [clickHandler]="onClick" cdkDrag></app-card-material>
    </ng-container>
  </div>
  <mat-paginator (page)="onPageChange($event.pageIndex, 'top')" [hidePageSize]="true" [pageSize]="30" [length]="150">
  </mat-paginator>
</div>

<div class="itemContainer">
  <h2>Watching 🔍</h2>

  <div
    cdkDropList
    #watchList="cdkDropList"
    [cdkDropListData]="watchItems"
    [cdkDropListConnectedTo]="[topList, newsList, readLaterList, watchList]"
    class="itemList"
    (cdkDropListDropped)="drop($event)"
  >
    <ng-container *ngIf="cardType === 'simple'">
      <app-card-simple *ngFor="let item of watchItems" [item]="item" [clickHandler]="onClick" cdkDrag></app-card-simple>
    </ng-container>
    <ng-container *ngIf="cardType === 'material'">
      <app-card-material *ngFor="let item of watchItems" [item]="item" [clickHandler]="onClick" cdkDrag></app-card-material>
    </ng-container>
  </div>
</div>

<div class="itemContainer">
  <h2>Read later ⏲️</h2>

  <div
    cdkDropList
    #readLaterList="cdkDropList"
    [cdkDropListData]="readLaterItems"
    [cdkDropListConnectedTo]="[topList, newsList, readLaterList, watchList]"
    class="itemList"
    (cdkDropListDropped)="drop($event)"
  >
    <ng-container *ngIf="cardType === 'simple'">
      <app-card-simple *ngFor="let item of readLaterItems" [item]="item" [clickHandler]="onClick" cdkDrag></app-card-simple>
    </ng-container>
    <ng-container *ngIf="cardType === 'material'">
      <app-card-material *ngFor="let item of readLaterItems" [item]="item" [clickHandler]="onClick" cdkDrag></app-card-material>
    </ng-container>
  </div>
</div>
