<p style="margin-left:10px;">
  <button mat-raised-button (click)="cardType = cardType === 'simple' ? 'material' : 'simple'">Toggle card type</button>
</p>

<div class="example-container">
  <h2>News 📰</h2>

  <div class="example-list">
    <div
      cdkDropList
      #newsList="cdkDropList"
      [cdkDropListData]="newsItems"
      [cdkDropListConnectedTo]="[topList, newsList, readLaterList, watchList]"
      class=""
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container *ngIf="cardType === 'simple'">
        <app-card-simple *ngFor="let item of newsItems" [item]="item" cdkDrag></app-card-simple>
      </ng-container>
      <ng-container *ngIf="cardType === 'material'">
        <app-card-material *ngFor="let item of newsItems" [item]="item" cdkDrag></app-card-material>
      </ng-container>
    </div>
  </div>
</div>

<div class="example-container">
  <h2>Top 🔝</h2>

  <div
    cdkDropList
    #topList="cdkDropList"
    [cdkDropListData]="topItems"
    [cdkDropListConnectedTo]="[topList, newsList, readLaterList, watchList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <ng-container *ngIf="cardType === 'simple'">
      <app-card-simple *ngFor="let item of topItems" [item]="item" cdkDrag></app-card-simple>
    </ng-container>
    <ng-container *ngIf="cardType === 'material'">
      <app-card-material *ngFor="let item of topItems" [item]="item" cdkDrag></app-card-material>
    </ng-container>
  </div>
</div>

<div class="example-container">
  <h2>Watching 🔍</h2>

  <div
    cdkDropList
    #watchList="cdkDropList"
    [cdkDropListData]="watchItems"
    [cdkDropListConnectedTo]="[topList, newsList, readLaterList, watchList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <ng-container *ngIf="cardType === 'simple'">
      <app-card-simple *ngFor="let item of watchItems" [item]="item" cdkDrag></app-card-simple>
    </ng-container>
    <ng-container *ngIf="cardType === 'material'">
      <app-card-material *ngFor="let item of watchItems" [item]="item" cdkDrag></app-card-material>
    </ng-container>
  </div>
</div>

<div class="example-container">
  <h2>Read later ⏲️</h2>

  <div
    cdkDropList
    #readLaterList="cdkDropList"
    [cdkDropListData]="readLaterItems"
    [cdkDropListConnectedTo]="[topList, newsList, readLaterList, watchList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <ng-container *ngIf="cardType === 'simple'">
      <app-card-simple *ngFor="let item of readLaterItems" [item]="item" cdkDrag></app-card-simple>
    </ng-container>
    <ng-container *ngIf="cardType === 'material'">
      <app-card-material *ngFor="let item of readLaterItems" [item]="item" cdkDrag></app-card-material>
    </ng-container>
  </div>
</div>
