<div class="example-container">
  <h2>News 📰</h2>

  <div class="example-list">
    <div
      cdkDropList
      #newsList="cdkDropList"
      [cdkDropListData]="newsItems"
      [cdkDropListConnectedTo]="[topList, newsList, readLaterList, watchList]"
      class=""
      (cdkDropListDropped)="drop($event)"
    >
      <app-card-simple *ngFor="let item of newsItems" [item]="item" cdkDrag></app-card-simple>
    </div>
  </div>
</div>

<div class="example-container">
  <h2>Top 🔝</h2>

  <div
    cdkDropList
    #topList="cdkDropList"
    [cdkDropListData]="topItems"
    [cdkDropListConnectedTo]="[topList, newsList, readLaterList, watchList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <app-card-material *ngFor="let item of topItems" [item]="item" cdkDrag></app-card-material>
  </div>
</div>

<div class="example-container">
  <h2>Watching 🔍</h2>

  <div
    cdkDropList
    #watchList="cdkDropList"
    [cdkDropListData]="watchItems"
    [cdkDropListConnectedTo]="[topList, newsList, readLaterList, watchList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of watchItems" cdkDrag>
      {{item.title}}
    </div>
  </div>
</div>

<div class="example-container">
  <h2>Read later ⏲️</h2>

  <div
    cdkDropList
    #readLaterList="cdkDropList"
    [cdkDropListData]="readLaterItems"
    [cdkDropListConnectedTo]="[topList, newsList, readLaterList, watchList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of readLaterItems" cdkDrag>
      {{item.title}}
    </div>
  </div>
</div>
