mat-drawer-container, mat-drawer {
  font-family: sans-serif;
  background-color: #222831!important;
  color: white;
}

mat-drawer {
  border-right: 1px solid white!important;
  padding-right: 5px;
  min-width: 300px;
  width: 50vw;
  // max-height: 100vh;
}
